* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #856b39;
  background-color: #000;
}

/* ********************* */
/* HEADER */
/* ********************* */

.header {
  display: flex;
  align-items: center;
  background-color: #000;
  border-bottom: 1px solid #856b39;
  height: 9.6rem;
  padding: 0 4.8rem;
  /* position: relative; */
}

.logo {
  height: 6.2rem;
  margin-right: 2.4rem;
}

.greet {
  text-transform: uppercase;
  font-size: 3.2rem;
  text-align: center;
}

/* ********************* */
/* NAVIGATION */
/* ********************* */

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.sign-in,
.log-in {
  padding: 1.2rem 2.4rem;
  color: #fff;
  background-color: #856b39;
  border: 0;
}

.sign-in:hover,
.sign-in:active,
.log-in:hover,
.log-in:active {
  background-color: #ad9a74;
  color: #fff;
}

/* MOBILE  */

/* .btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}
.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
} */

/* STICKY NAVIGATION */

.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
  margin-top: 9.6rem;
}

/* ********************* */
/* HERO SECTION */
/* ********************* */

.section-hero {
  background-color: #000;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}
.hero-img2 {
  width: 35%;
  position: absolute;
  left: 450px;
  top: 500px;
}

.delivered-meal {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #ad9a74;
}

.delivered-imgs img:last-child {
  margin: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: #ad9a74;
  font-weight: 700;
}

/* ********************* */
/* BUTTONS */
/* ********************* */

.btn,
.btn:link,
.btn:visited {
  display: inline-block;

  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;

  border: none;
  cursor: pointer;
  font-family: inherit;

  transition: all 0.3s;
}

.btn-log {
  border: 1px solid #856b39;
  color: #b1a58d;
  background-color: #856b39;
  margin-right: 3px;
}

.btn-log:hover,
.btn-log:active {
  background-color: #64502b;
  color: #b1a58d;
}

.btn-sign {
  background-color: #000;
  border: 1px solid #856b39;
  color: #ad9a74;
}

.btn-sign:hover,
.btn-sign:active {
  background-color: #000;
  color: #856b39;
  /* Trick to add border inside */
  box-shadow: inset 0 0 0 3px #856b39;
}

.heading-primary {
  font-weight: 700;
  color: #ad9a74;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-family: "Bungee Inline";
  letter-spacing: 4px;
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

/* ********************* */
/* FOOTER */
/* ********************* */

.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #ad9a74;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #999;
  margin-top: auto;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  list-style: none;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #999;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #999;
}

.container {
  /* 1140px some uses */
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;

  /* margin-bottom: 9.6rem; */
}

/* SIGN IN FORM */
.hidden {
  display: none;
}

.modal,
.modal1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  background-color: #000;
  padding: 6rem;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  border: solid 1px #856b39;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 10rem;
  height: 10rem;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.close-modal,
.close-modal1 {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #856b39;
  cursor: pointer;
  border: none;
  background: none;
}

/* ------------------- */
.formPopup {
  display: none;
  position: fixed;
  left: 45%;
  top: 5%;
  transform: translate(-50%, 5%);
  border: 3px solid #856b39;
  z-index: 9;
}
.formContainer {
  max-width: 500px;
  padding: 20px;
  background-color: #000;
}

.formContainer1 {
  max-width: 500px;
  padding: 20px;
  background-color: #000;
}

.formContainer .textInput,
.formContainer1 .textInput1 {
  height: 1rem;
  padding: 15px 25px;
  margin: 5px 0 20px 0;
  border: none;
  background: #eee;
}

.formContainer .btn,
.formContainer1 .btn1 {
  padding: 12px 20px;
  border: none;
  background-color: #856b39;
  color: #fff;
  cursor: pointer;
  width: 100%;
  margin-bottom: 15px;
}
/* .formContainer .cancel {
  background-color: #b1a58d;
} */

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.formHeading,
.formHeading1 {
  font-size: 3.2rem;
  text-transform: uppercase;
  border-bottom: solid 1px #856b39;
  margin-bottom: 2.4rem;
  color: #856b39;
  text-align: center;
}

.nameLastname {
  display: flex;
  justify-content: space-between;
}

.locationDiv {
  display: flex;
  justify-content: space-between;
}
.locationHeading {
  font-size: 1.8rem;
  font-weight: 700;
  color: #856b39;
}

.formContainer label,
.formContainer1 label {
  font-size: 1.8rem;
  color: #856b39;
}

.direction-column {
  display: flex;
  flex-direction: column;
}
